.pro-container{
    max-width: 1400px;
    margin:0 auto;
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
    
}
.wraper-container{
    display: flex;
    column-gap: 10px;
   
}
.pro-parent{
    width: 550px; 
    /* border: 1px solid rgb(236, 7, 7); */
    border-top: 2px double whitesmoke;
    border-bottom: 2px double rgba(255, 255, 255, 0);
    border-right: 2px double whitesmoke;
}

.pro-children{
    /* border: 1px solid black; */
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.img-cart-parent{
    width: 200px;
    display:flex;
    justify-content: center;
    /* border: 1px solid black; */
    background-color: rgba(0, 0, 0, 0.331);
    opacity: 100;
    
}
.cart-img{
    width: 200px;
    height: 200px;
}
.total-img{
    width: 50px;
    height: 100%;
}
.total-amount-c-parent{
    /* width: 450px; */
    /* height: 300px; */
    border: 1px solid rgba(0, 0, 0, 0.617);
    background-color:whitesmoke;
    border-top: 2px double whitesmoke;
}
.total-amount-c{
    /* border: 1px solid blue; */
    width: 350px; 
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-cart{
    width: 100px;
    padding:3px 3px ;
}
.btn{
    padding: 2px 4px;
    font-size: 20px;
}
.pading{
    font-size: x-large;
}
.total-amount{
    display: flex;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.157);
    height: 50px;
    align-items: center;
    color: rgb(255, 5, 5);
    background-color: rgba(0, 0, 0, 0.16);
}
